<!DOCTYPE html>
<html>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>

  <body style="padding-top: 100px;">
  <header>
      <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="background-color:#3B5998">
        <div class="container">
          <div class="navbar-header navbar-nav col-md-12">
            <h3 style="margin-right:10px; color:white">Welcome to MyFacebook</h3>
          </div>
        </div>
      </nav>
    </header> 

  
    <div class="container">
      <table>
        <thead>
          <th>
            <td colspan="2"><%= message %></td>
          </th>
        </thead>
        <tbody>
          <form method="post" action="/login" validate>
          <tr>
            <td class="col-md-3">Email Id</td>
            <td><input type="email" name="username" style="margin-bottom:10px" required/></td>
          </tr>
          <tr>
            <td class="col-md-3">Password</td>
            <td><input type="password" name="password" style="margin-bottom:10px" required/></td>
          </tr>
          <tr>
            <td><input class="btn btn-default btn-xs pull-right" type="submit" value="Login" style="margin-right:10px"></td>
          </form>
            <td><form method="get" action="/signup">
              <input class="btn btn-default btn-xs" type="submit" value="Sign-up" />
              </form> 
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>